.contenedorHeader{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 125px;
    gap: 787px;
    background-color: var(--Dark);
    border-bottom: 5px solid var(--Blue);
}

.logo{
    width: 168.45px;
    height: 40px;
    opacity: 0px;

}

.botones{
    display: flex;
    flex-direction: row;
    width: 385.25px;
    height: 54px;
    gap: 25px;
    opacity: 0px;
}
